
body {
	margin: 20px;
	background-color: #303030;
	color: wheat;

}

a { color: steelblue; }
a:hover { color: lightsteelblue; }
a:active { color: white; }


body, p {
	font-family: Roboto, sans-serif;
	font-size: 12pt;
}

hr {
	border-color: grey;
	margin-left: 0px;
}

h1,h2 {
	font-family: "Roboto Slab", serif;
}

h1 {
	font-size: 16pt;
}

h2 {
	font-size: 12pt;
}

.left {
	float: left;
}

.right {
	text-align: right;

}

#music, .right, #instructions, hr {
	width: 1024;
}

#instructions {
	background-color: #222;
}

#canvas {
	margin: 20px 0px;
	border: 1px groove wheat;
	width: 1024;
	height: 640;
}

#music {
	border: 1px groove wheat;
}

audio {
	vertical-align: middle;
}

