
body {
	margin: 20px;
	background-color: #303030;
	color: wheat;

}

a { color: steelblue; }
a:hover { color: lightsteelblue; }
a:active { color: white; }


body, p {
	font-family: Roboto, sans-serif;
	font-size: 12pt;
}

hr {
	border-color: grey;
}

h1,h2 {
	font-family: "Roboto Slab", serif;
}

h1 {
	font-size: 16pt;
}

h2 {
	font-size: 12pt;
}

#instructions {
	background-color: #222;
}

#canvas {
	margin: 20px 0px;
	border: 1px groove wheat;
}
